{% extends "shelter/base.twig" %}

{% block title %}{{product.name}}{% endblock %}
{% block description %}{{product.description_small}}{% endblock %}

{% block content %}

<style>
    .zvire-image-hover:hover .zvire-image-hover-image{
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.50)) grayscale(1) brightness(0.5) !important;
    }

    .zvire-image-hover-tools{
        transition: opacity 0.1s ease-out;
    }

    .zvire-image-hover:hover .zvire-image-hover-tools{
        opacity: 100%;
    }

</style>


<div class="flex flex-col w-full px-2 md:px-32 py-2 md:py-8 gap-16">
    <div class="flex flex-col md:flex-row w-full gap-8">
        <h1 class="md:hidden product-detail-name">{{zvire.plemeno}} - {{zvire.jmeno}}</h1>

        <div class="flex flex-col items-center gap-8 md:w-[32rem]">
            <a href="javascript:;" onclick="openGallery()"><img class="shadow-md" width="450" src="{{obrazky[0].url_velka}}" alt=""></a>
            {% if user == null %}
            <div class="flex flex-row flex-wrap gap-4 w-full justify-center" id="image-gallery">
                {% for obrazek in obrazky %}
                <a id="product-image-{{loop.index}}" href="{{obrazek.url_velka}}" data-pswp-width="1000" data-pswp-height="1000" target="_blank"> <img class="shadow-md" width="96" src="{{obrazek.url_mala}}" alt=""> </a>
                {% endfor %}
            </div>
            {% else %}
            <div class="flex flex-row flex-wrap gap-4 w-full justify-center">
                {% for obrazek in obrazky %}
                    <div class="w-[96px] h-[96px] relative zvire-image-hover">
                        <div class="w-full h-full bg-cover absolute zvire-image-hover-image" style="background-image: url({{ obrazek.url_mala }})"></div>
                        <div class="w-full h-full p-1 flex flex-col justify-center relative opacity-0 zvire-image-hover-tools">
                            <div class="flex flex-row">
                                <svg onclick="window.location='/posunoutObrazekZvirete?smer=nahoru&zvire_id={{zvire.id}}&obrazek_id={{obrazek.id}}'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="white" class="w-4 h-4 cursor-pointer">
                                    <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1Zm-.75 10.25a.75.75 0 0 0 1.5 0V6.56l1.22 1.22a.75.75 0 1 0 1.06-1.06l-2.5-2.5a.75.75 0 0 0-1.06 0l-2.5 2.5a.75.75 0 0 0 1.06 1.06l1.22-1.22v4.69Z" clip-rule="evenodd" />
                                </svg>
                                <svg onclick="window.location='/posunoutObrazekZvirete?smer=dolu&zvire_id={{zvire.id}}&obrazek_id={{obrazek.id}}'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="white" class="shadow w-4 h-4 ml-auto cursor-pointer">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm2.78-4.22a.75.75 0 0 1-1.06 0L8 9.06l-1.72 1.72a.75.75 0 1 1-1.06-1.06L6.94 8 5.22 6.28a.75.75 0 0 1 1.06-1.06L8 6.94l1.72-1.72a.75.75 0 1 1 1.06 1.06L9.06 8l1.72 1.72a.75.75 0 0 1 0 1.06Z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <div class="flex flex-row mt-auto">
                                <svg onclick="window.location='/posunoutObrazekZvirete?smer=doleva&zvire_id={{zvire.id}}&obrazek_id={{obrazek.id}}'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="white" class="w-4 h-4 cursor-pointer">
                                    <path fill-rule="evenodd" d="M14 8a.75.75 0 0 1-.75.75H4.56l3.22 3.22a.75.75 0 1 1-1.06 1.06l-4.5-4.5a.75.75 0 0 1 0-1.06l4.5-4.5a.75.75 0 0 1 1.06 1.06L4.56 7.25h8.69A.75.75 0 0 1 14 8Z" clip-rule="evenodd" />
                                </svg>
                                <svg onclick="window.location='/posunoutObrazekZvirete?smer=doprava&zvire_id={{zvire.id}}&obrazek_id={{obrazek.id}}'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="white" class="w-4 h-4 ml-auto cursor-pointer">
                                    <path fill-rule="evenodd" d="M2 8a.75.75 0 0 1 .75-.75h8.69L8.22 4.03a.75.75 0 0 1 1.06-1.06l4.5 4.5a.75.75 0 0 1 0 1.06l-4.5 4.5a.75.75 0 0 1-1.06-1.06l3.22-3.22H2.75A.75.75 0 0 1 2 8Z" clip-rule="evenodd" />
                                </svg>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div data-modal-target="add-image-modal" data-modal-toggle="add-image-modal" class="w-[96px] h-[96px] relative border shadow cursor-pointer">
                    <div class="w-full h-full p-1 flex flex-col gap-2 justify-center items-center relative">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="w-4 h-4 fill-green-600">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm.75-10.25v2.5h2.5a.75.75 0 0 1 0 1.5h-2.5v2.5a.75.75 0 0 1-1.5 0v-2.5h-2.5a.75.75 0 0 1 0-1.5h2.5v-2.5a.75.75 0 0 1 1.5 0Z" clip-rule="evenodd" />
                        </svg>
                        <p class="text-xs">Přidat obrázek</p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="ml-auto">
            <h1 class="hidden md:block font-bold text-2xl mb-2">{{zvire.plemeno}} - {{zvire.jmeno}}</h1>
            <p class="w-[560px]">{{zvire.popis}}</p>
                
                
            
            <hr class="w-full h-px mt-4 bg-slate-200 border-0">
            <div class="bg-gray-100 p-4 rounded flex flex-col gap-1">
                <div class="flex flex-row gap-2 items-center">
                    <svg class="w-6 size-5 fill-gray-800" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M256-0.5C114.333-0.5-0.5,114.333-0.5,256S114.333,512.5,256,512.5S512.5,397.667,512.5,256S397.667-0.5,256-0.5z M256,472.422C136.47,472.422,39.578,375.53,39.578,256C39.578,136.47,136.47,39.578,256,39.578 c119.53,0,216.422,96.892,216.422,216.422C472.422,375.53,375.53,472.422,256,472.422z"></path> <path d="M133.48,236.619c-9.394,8.673-6.982,27.397,5.385,41.863c12.368,14.45,29.996,19.131,39.374,10.427 c9.378-8.643,6.967-27.397-5.401-41.832C160.47,232.642,142.842,227.945,133.48,236.619z"></path> <path d="M338.833,243.757c-11.006,15.625-11.694,34.52-1.55,42.223c10.129,7.671,27.257,1.314,38.247-14.325 c10.99-15.593,11.679-34.473,1.55-42.191C366.95,221.777,349.808,228.18,338.833,243.757z"></path> <path d="M226.129,240.125c16.517-3.977,25.111-28.65,19.179-55.107c-5.887-26.458-24.078-44.681-40.595-40.705 c-16.501,4.008-25.08,28.681-19.194,55.139C191.452,225.879,209.628,244.102,226.129,240.125z"></path> <path d="M309.057,144.313c-16.501-3.977-34.677,14.247-40.595,40.705c-5.918,26.458,2.661,51.131,19.193,55.107 c16.485,3.976,34.677-14.247,40.595-40.673C334.184,172.995,325.558,148.321,309.057,144.313z"></path> <path d="M256,262.513c-39.374,0-68.932,62.7-68.932,83.444c0,51.005,29.558-1.613,68.932-1.613c39.39,0,68.932,52.618,68.932,1.613 C324.932,325.213,295.39,262.513,256,262.513z"></path> </g> </g></svg>
                    <p class="text-sm font-bold text-gray-800">Druh zvířete</p>
                    <p class="ml-auto text-sm font-bold text-gray-800">{{zvire.zivocisny_druh}}</p>
                </div>
                <div class="flex flex-row gap-2 items-center">
                    <svg class="w-6 size-5 fill-gray-800" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M16 4V7C16 9.20914 14.2091 11 12 11H10V15H0V13L0.931622 10.8706C1.25226 10.9549 1.59036 11 1.94124 11C3.74931 11 5.32536 9.76947 5.76388 8.01538L3.82359 7.53031C3.60766 8.39406 2.83158 9.00001 1.94124 9.00001C1.87789 9.00001 1.81539 8.99702 1.75385 8.99119C1.02587 8.92223 0.432187 8.45551 0.160283 7.83121C0.0791432 7.64491 0.0266588 7.44457 0.00781272 7.23658C-0.0112323 7.02639 0.00407892 6.80838 0.0588889 6.58914C0.0588882 6.58914 0.0588896 6.58913 0.0588889 6.58914L0.698705 4.02986C1.14387 2.24919 2.7438 1 4.57928 1H10L12 4H16ZM9 6C9.55229 6 10 5.55228 10 5C10 4.44772 9.55229 4 9 4C8.44771 4 8 4.44772 8 5C8 5.55228 8.44771 6 9 6Z"></path> </g></svg>
                    <p class="text-sm font-bold text-gray-800">Plemeno</p>
                    <p class="ml-auto text-sm font-bold text-gray-800">{{zvire.plemeno}}</p>
                </div>
                <div class="flex flex-row gap-2 items-center">
                    <svg class="w-6 size-6 fill-gray-800" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path class="st0" d="M267.817,171.048c-12.343-12.388-27.371-22.176-44.078-28.53c-7.888,8.766-13.259,19.438-15.502,31.01 c-0.61,3.12-0.976,6.248-1.144,9.361c1.373,0.472,2.716,0.976,4.029,1.548c14.555,6.171,27.051,16.501,35.808,29.515 c7.033,10.405,11.702,22.451,13.274,35.504c0.412,3.257,0.61,6.576,0.61,9.963c0,11.306-2.273,21.956-6.377,31.674 c-5.096,11.985-12.984,22.588-22.886,30.835c-2.105,1.777-4.318,3.426-6.606,4.974c-13.014,8.788-28.546,13.884-45.497,13.884 c-11.275,0-21.909-2.281-31.643-6.378c-14.586-6.171-27.036-16.508-35.824-29.515c-8.758-12.992-13.854-28.561-13.854-45.474 c0-11.298,2.243-21.932,6.362-31.674c5.539-13.075,14.464-24.487,25.678-33.008c-0.214-2.953-0.306-5.905-0.306-8.857 c0-15.165,2.38-29.965,6.912-43.956c-17.348,6.309-32.91,16.34-45.665,29.126c-22.611,22.543-36.648,53.919-36.602,88.37 c-0.045,34.459,13.992,65.835,36.602,88.385c18.827,18.857,43.788,31.696,71.556,35.426v38.952h-57.901v33.55h57.901V512h33.566 v-56.268h57.947v-33.55H196.23v-38.952c27.784-3.73,52.775-16.569,71.587-35.426c6.286-6.286,11.886-13.228,16.752-20.742 c12.587-19.491,19.896-42.781,19.865-67.643c0-5.835-0.412-11.61-1.175-17.24C299.43,214.562,286.583,189.769,267.817,171.048z"></path> <path class="st0" d="M349.015,0v33.551h51.203l-52.912,52.912c-22.276-16.981-49.052-25.564-75.691-25.54 c-31.903-0.024-64.019,12.22-88.37,36.617c-17.424,17.378-28.622,38.714-33.627,61.12c-0.061,0.274-0.091,0.549-0.168,0.778 c-0.198,0.87-0.366,1.747-0.533,2.579c-0.306,1.617-0.58,3.227-0.839,4.836c-0.168,0.969-0.305,1.984-0.412,2.952 c-0.198,1.473-0.366,2.983-0.488,4.493c-0.076,0.87-0.168,1.748-0.213,2.617c-0.03,0.435-0.061,0.877-0.091,1.343 c-0.077,0.877-0.107,1.777-0.138,2.646c-0.061,1.648-0.107,3.326-0.107,4.974c0,1.274,0.046,2.548,0.077,3.852 c0.061,1.282,0.138,2.548,0.198,3.861l0.198,2.822c0,0.466,0.076,0.938,0.106,1.442c2.686,27.874,14.723,55.124,36.037,76.4 c12.908,12.916,28.012,22.436,44.078,28.516c4.866-5.363,8.834-11.572,11.687-18.255c2.944-7.01,4.623-14.426,4.958-22.077 c-10.908-3.921-21.1-10.23-29.888-19.018c-7.949-7.987-13.899-17.118-17.851-26.914c-2.822-6.92-4.638-14.166-5.432-21.475 c-0.518-4.326-0.64-8.689-0.442-13.014c0.061-1.076,0.137-2.113,0.198-3.158c0.076-0.77,0.137-1.541,0.274-2.319 c0-0.298,0.061-0.595,0.092-0.9c0.076-0.74,0.168-1.51,0.305-2.243c0.168-1.007,0.336-2.052,0.534-3.051 c0.884-4.57,2.151-9.063,3.829-13.427c0.306-0.801,0.61-1.571,0.977-2.38c0.336-0.839,0.701-1.678,1.098-2.517 c0.336-0.839,0.733-1.679,1.175-2.487c0.366-0.831,0.808-1.64,1.282-2.441c2.212-4.104,4.822-8.055,7.812-11.817 c0.61-0.77,1.251-1.54,1.877-2.281c1.388-1.579,2.792-3.12,4.302-4.63c1.876-1.877,3.784-3.624,5.767-5.234 c6.5-5.401,13.624-9.635,21.1-12.648c14.662-5.942,30.804-7.453,46.199-4.463c15.41,2.99,29.995,10.36,41.988,22.344 c7.98,7.987,13.884,17.118,17.836,26.906c5.981,14.662,7.492,30.773,4.501,46.176c-3.021,15.394-10.406,29.988-22.337,41.973 c-2.624,2.616-5.37,5.035-8.223,7.178c0.167,2.952,0.259,5.905,0.259,8.818c0.046,15.036-2.35,29.858-6.942,43.956 c16.707-6.042,32.375-15.769,45.726-29.119c24.366-24.327,36.648-56.443,36.617-88.377c0.03-26.647-8.559-53.377-25.571-75.691 l52.912-52.912v51.226h33.55V0H349.015z"></path> </g> </g></svg>                    <p class="text-sm font-bold text-gray-800">Pohlaví</p>
                    <p class="ml-auto text-sm font-bold text-gray-800">{{zvire.pohlavi}}</p>
                </div>
                <div class="flex flex-row gap-2 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 size-5 fill-gray-800">
                    <path d="m15 1.784-.796.795a1.125 1.125 0 1 0 1.591 0L15 1.784ZM12 1.784l-.796.795a1.125 1.125 0 1 0 1.591 0L12 1.784ZM9 1.784l-.796.795a1.125 1.125 0 1 0 1.591 0L9 1.784ZM9.75 7.547c.498-.021.998-.035 1.5-.042V6.75a.75.75 0 0 1 1.5 0v.755c.502.007 1.002.021 1.5.042V6.75a.75.75 0 0 1 1.5 0v.88l.307.022c1.55.117 2.693 1.427 2.693 2.946v1.018a62.182 62.182 0 0 0-13.5 0v-1.018c0-1.519 1.143-2.829 2.693-2.946l.307-.022v-.88a.75.75 0 0 1 1.5 0v.797ZM12 12.75c-2.472 0-4.9.184-7.274.54-1.454.217-2.476 1.482-2.476 2.916v.384a4.104 4.104 0 0 1 2.585.364 2.605 2.605 0 0 0 2.33 0 4.104 4.104 0 0 1 3.67 0 2.605 2.605 0 0 0 2.33 0 4.104 4.104 0 0 1 3.67 0 2.605 2.605 0 0 0 2.33 0 4.104 4.104 0 0 1 2.585-.364v-.384c0-1.434-1.022-2.7-2.476-2.917A49.138 49.138 0 0 0 12 12.75ZM21.75 18.131a2.604 2.604 0 0 0-1.915.165 4.104 4.104 0 0 1-3.67 0 2.605 2.605 0 0 0-2.33 0 4.104 4.104 0 0 1-3.67 0 2.605 2.605 0 0 0-2.33 0 4.104 4.104 0 0 1-3.67 0 2.604 2.604 0 0 0-1.915-.165v2.494c0 1.035.84 1.875 1.875 1.875h15.75c1.035 0 1.875-.84 1.875-1.875v-2.494Z" />
                    </svg>
                    <p class="text-sm font-bold text-gray-800">Stáří</p>
                    <p class="ml-auto text-sm font-bold text-gray-800">{{(date().diff(date(zvire.datum_narozeni)).y)|sklonovat_rok()}} let</p>
                </div>
                <div class="flex flex-row gap-2 items-center">
                    <svg class="w-6 size-6 fill-gray-800" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M256 46c-45.074 0-82 36.926-82 82 0 25.812 12.123 48.936 30.938 64H128L32 480h448l-96-288h-76.938C325.877 176.936 338 153.812 338 128c0-45.074-36.926-82-82-82zm0 36c25.618 0 46 20.382 46 46s-20.382 46-46 46-46-20.382-46-46 20.382-46 46-46zm-82.215 202.95h23.5v33.263l33.873-33.264h27.283l-43.883 43.15 48.4 47.974H233.54l-36.255-35.888v35.888h-23.5V284.95zm119.934 21.24c4.76 0 8.952.934 12.573 2.806 3.62 1.872 6.938 4.82 9.95 8.85v-10.13h21.972v61.462c0 10.986-3.48 19.368-10.438 25.146-6.917 5.82-16.968 8.727-30.152 8.727-4.272 0-8.4-.325-12.39-.976-3.986-.65-7.996-1.647-12.024-2.99v-17.03c3.826 2.198 7.57 3.826 11.23 4.884 3.664 1.098 7.347 1.648 11.05 1.648 7.162 0 12.41-1.566 15.746-4.7 3.337-3.132 5.006-8.035 5.006-14.708v-4.7c-3.01 3.986-6.328 6.916-9.95 8.788-3.62 1.87-7.813 2.808-12.573 2.808-8.343 0-15.238-3.275-20.69-9.826-5.453-6.592-8.18-14.974-8.18-25.146 0-10.214 2.727-18.576 8.18-25.086 5.452-6.55 12.347-9.827 20.69-9.827zm8.118 15.746c-4.517 0-8.038 1.67-10.56 5.005-2.523 3.338-3.784 8.058-3.784 14.162 0 6.266 1.22 11.026 3.662 14.28 2.442 3.215 6.003 4.823 10.682 4.823 4.557 0 8.096-1.67 10.62-5.006 2.522-3.337 3.784-8.036 3.784-14.098 0-6.104-1.262-10.824-3.785-14.16-2.523-3.337-6.062-5.006-10.62-5.006z"></path></g></svg>
                    <p class="text-sm font-bold text-gray-800">Váha</p>
                    <p class="ml-auto text-sm font-bold text-gray-800">{{hmotnost.hmotnost}} kg</p>
                </div>
            </div>
            <hr class="w-full h-px mt-4 bg-slate-200 border-0 mb-4">
            <div class="flex flex-row gap-2">
                <button class="flex flex-row p-4 bg-gray-800 text-white rounded shadow items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                    <path d="M5.25 12a.75.75 0 0 1 .75-.75h.01a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75H6a.75.75 0 0 1-.75-.75V12ZM6 13.25a.75.75 0 0 0-.75.75v.01c0 .414.336.75.75.75h.01a.75.75 0 0 0 .75-.75V14a.75.75 0 0 0-.75-.75H6ZM7.25 12a.75.75 0 0 1 .75-.75h.01a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75H8a.75.75 0 0 1-.75-.75V12ZM8 13.25a.75.75 0 0 0-.75.75v.01c0 .414.336.75.75.75h.01a.75.75 0 0 0 .75-.75V14a.75.75 0 0 0-.75-.75H8ZM9.25 10a.75.75 0 0 1 .75-.75h.01a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75H10a.75.75 0 0 1-.75-.75V10ZM10 11.25a.75.75 0 0 0-.75.75v.01c0 .414.336.75.75.75h.01a.75.75 0 0 0 .75-.75V12a.75.75 0 0 0-.75-.75H10ZM9.25 14a.75.75 0 0 1 .75-.75h.01a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75H10a.75.75 0 0 1-.75-.75V14ZM12 9.25a.75.75 0 0 0-.75.75v.01c0 .414.336.75.75.75h.01a.75.75 0 0 0 .75-.75V10a.75.75 0 0 0-.75-.75H12ZM11.25 12a.75.75 0 0 1 .75-.75h.01a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75H12a.75.75 0 0 1-.75-.75V12ZM12 13.25a.75.75 0 0 0-.75.75v.01c0 .414.336.75.75.75h.01a.75.75 0 0 0 .75-.75V14a.75.75 0 0 0-.75-.75H12ZM13.25 10a.75.75 0 0 1 .75-.75h.01a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75H14a.75.75 0 0 1-.75-.75V10ZM14 11.25a.75.75 0 0 0-.75.75v.01c0 .414.336.75.75.75h.01a.75.75 0 0 0 .75-.75V12a.75.75 0 0 0-.75-.75H14Z" />
                    <path fill-rule="evenodd" d="M5.75 2a.75.75 0 0 1 .75.75V4h7V2.75a.75.75 0 0 1 1.5 0V4h.25A2.75 2.75 0 0 1 18 6.75v8.5A2.75 2.75 0 0 1 15.25 18H4.75A2.75 2.75 0 0 1 2 15.25v-8.5A2.75 2.75 0 0 1 4.75 4H5V2.75A.75.75 0 0 1 5.75 2Zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75Z" clip-rule="evenodd" />
                    </svg>
                    Rezervovat zde
                </button>
                {% if user != null %}
                <button class="flex flex-row p-4 bg-gray-800 text-white rounded shadow items-center gap-2" data-modal-target="new-event-modal" data-modal-toggle="new-event-modal">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                        <path d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z" />
                    </svg>

                    Přidat událost
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>

function openGallery(){
    window.lightbox.loadAndOpen(0, {
        gallery: document.querySelector('#image-gallery')
    });
}


</script>

<script type="module">
import PhotoSwipeLightbox from '/media/photoswipe/photoswipe-lightbox.esm.js';
window.lightbox = new PhotoSwipeLightbox({
  gallery: '#image-gallery',
  children: 'a',
  pswpModule: () => import('/media/photoswipe/photoswipe.esm.js')
});
window.lightbox.init();
</script>

{% embed 'shelter/partials/modal.twig' with {"id": "new-event", "title":"Nová událost zvířete"} %}
    {% block modal_body %}
    <div class="flex flex-col gap-4">
    <button data-modal-target="new-prohlidka-modal" data-modal-toggle="new-prohlidka-modal" class="w-full flex flex-row justify-center items-center gap-2 rounded-lg p-4 bg-gray-800 text-white">
        <svg class="size-6 fill-white" viewBox="-2.5 0 19 19" xmlns="http://www.w3.org/2000/svg" class="cf-icon-svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M11.56 10.11v2.046a3.827 3.827 0 1 1-7.655 0v-.45A3.61 3.61 0 0 1 .851 8.141V5.25a1.682 1.682 0 0 1 .763-1.408 1.207 1.207 0 1 1 .48 1.04.571.571 0 0 0-.135.368v2.89a2.5 2.5 0 0 0 5 0V5.25a.57.57 0 0 0-.108-.334 1.208 1.208 0 1 1 .533-1.018 1.681 1.681 0 0 1 .683 1.352v2.89a3.61 3.61 0 0 1-3.054 3.565v.45a2.719 2.719 0 0 0 5.438 0V10.11a2.144 2.144 0 1 1 1.108 0zm.48-2.07a1.035 1.035 0 1 0-1.035 1.035 1.037 1.037 0 0 0 1.036-1.035z"></path></g></svg>
        Prohlídka
    </button>
    <button data-modal-target="new-prodej-modal" data-modal-toggle="new-prodej-modal" class="w-full flex flex-row justify-center items-center gap-2 rounded-lg p-4 bg-gray-800 text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
            <path fill-rule="evenodd" d="M1 4a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4Zm12 4a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM4 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm13-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM1.75 14.5a.75.75 0 0 0 0 1.5c4.417 0 8.693.603 12.749 1.73 1.111.309 2.251-.512 2.251-1.696v-.784a.75.75 0 0 0-1.5 0v.784a.272.272 0 0 1-.35.25A49.043 49.043 0 0 0 1.75 14.5Z" clip-rule="evenodd" />
        </svg>
        Prodej
    </button>
    <button data-modal-target="new-umrti-modal" data-modal-toggle="new-umrti-modal" class="w-full flex flex-row justify-center items-center gap-2 rounded-lg p-4 bg-gray-800 text-white">
        <svg class="size-6 fill-white" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>cross</title> <path d="M5.979 10.974v5.021h7.041v11.99h5.042v-11.99h6.958v-5.021h-6.958v-6.958h-5.042v6.958h-7.041z"></path> </g></svg>
        Úmrtí
    </button>
    </div>
    {% endblock %}
{% endembed %}

{% embed 'shelter/partials/modal.twig' with {"id": "new-prohlidka", "title":"Přidat prohlídku zvířete"} %}
    {% block modal_body %}
    <form class="space-y-4" action="/prohlidka" method="POST">
        <input type="text" class="hidden" name="vytvorit" value="1">
        <input type="text" class="hidden" value="{{zvire.id}}" name="zvire_id">

        <label for="pozadavek_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Je prohlídka na žádost?</label>
        <select name="pozadavek_id" id="pozadavek_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">    
            <option selected value="-1">NE</option>

            {% for status in order_statuses %}
                <option {{ status.id == order.status_id ? "selected" : "" }} value="{{ status.id }}">{{ status.name }}</option>
            {% endfor %}
        </select>
        
        <div class="col-span-2 sm:col-span-1">
            <label for="zdravotni_stav" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Zdravotní stav</label>
            <input type="text" name="zdravotni_stav" id="zdravotni_stav" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Popište akutální stav zvířete..." required="">
        </div>

        <div class="flex items-start">
            <div class="flex items-center h-5">
                <input type='hidden' value='0' name='probehlo_ockovani'>
                <input onclick="showVakcinaInput();" name="probehlo_ockovani" id="probehlo_ockovani" type="checkbox" value="1" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-600 dark:border-gray-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" />
            </div>
            <label for="probehlo_ockovani" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Proběhlo očkování zvířete?</label>
        </div>

        <div class="col-span-2 sm:col-span-1 hidden" id="vakcina-input-holder">
            <label for="vakcina" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Použitá vakcína</label>
            <input disabled type="text" name="vakcina" id="vakcina" class="vakcina-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Název použité vakcíny" required="">
        </div>

        <div class="flex items-start">
            <div class="flex items-center h-5">
                <input type='hidden' value='0' name='probehlo_mereni'>
                <input onclick="showMereniInput();" name="probehlo_mereni" id="probehlo_mereni" type="checkbox" value="1" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-600 dark:border-gray-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" />
            </div>
            <label for="probehlo_mereni" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Proběhlo měření zvířete?</label>
        </div>

        <div class="flex flex-row gap-4 hidden" id="mereni-input-holder">
        <div class="col-span-2 sm:col-span-1">
            <label for="vyska" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Výška (cm)</label>
            <input disabled type="number" name="vyska" id="vyska" class="mereni-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="" required="">
        </div>

        <div class="col-span-2 sm:col-span-1">
            <label for="delka" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Délka (cm)</label>
            <input disabled type="number" name="delka" id="delka" class="mereni-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="" required="">
        </div>

        <div class="col-span-2 sm:col-span-1">
            <label for="hmotnost" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Hmotnost (kg)</label>
            <input disabled type="text" name="hmotnost" id="hmotnost" class="mereni-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="" required="">
        </div>
        </div>
        
        <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Přidat</button>
    </form>

    <script>
        function showVakcinaInput(){
            var val = $('input[name="probehlo_ockovani"]').is(":checked");
            if(val == 1){
                $("#vakcina-input-holder").show();

                $(".vakcina-input").each(function(){
                    $(this).prop("disabled", false);
                });
            }else{
                $("#vakcina-input-holder").hide();
                $(".vakcina-input").each(function(){
                    $(this).prop("disabled", true);
                });
            }
        }
        function showMereniInput(){
            var val = $('input[name="probehlo_mereni"]').is(":checked");
            if(val == 1){
                $("#mereni-input-holder").show();
                
                $(".mereni-input").each(function(){
                    $(this).prop("disabled", false);
                });
            }else{
                $("#mereni-input-holder").hide();

                $(".mereni-input").each(function(){
                    $(this).prop("disabled", true);
                });
            }
        }
    </script>

    {% endblock %}
{% endembed %}

{% embed 'shelter/partials/modal.twig' with {"id": "new-prodej", "title":"Prodej zvířete"} %}
    {% block modal_body %}
    <form class="space-y-4" action="/prodej" method="POST">
        <input type="text" class="hidden" name="vytvorit" value="1">
        <input type="text" class="hidden" value="{{zvire.id}}" name="zvire_id">
        
        <div class="col-span-2 sm:col-span-1">
            <label for="jmeno_zakaznika" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Celé jméno zákazníka</label>
            <input type="text" name="jmeno_zakaznika" id="jmeno_zakaznika" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Petr Novák" required="">
        </div>

        <div class="col-span-2 sm:col-span-1">
            <label for="telefon_zakaznika" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Telefon zákazníka</label>
            <input type="telephone" name="telefon_zakaznika" id="telefon_zakaznika" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="+420123456789" required="">
        </div>
        
        <div class="col-span-2 sm:col-span-1">
            <label for="cena" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Dohodnutá cena (Kč)</label>
            <input type="number" name="cena" id="cena" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="1234" required="">
        </div>

        <div class="col-span-2 sm:col-span-1">
            <label for="cas" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Datum a čas prodeje</label>
            <input type="datetime-local" name="cas" id="cas" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="" required="">
        </div>

        <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Vytvořit</button>
    </form>

    {% endblock %}
{% endembed %}


{% embed 'shelter/partials/modal.twig' with {"id": "new-umrti", "title":"Úmrtí zvířete"} %}
    {% block modal_body %}
    <form class="space-y-4" action="/umrti" method="POST">
        <input type="text" class="hidden" name="vytvorit" value="1">
        <input type="text" class="hidden" value="{{zvire.id}}" name="zvire_id">
        
        <div class="col-span-2 sm:col-span-1">
            <label for="pricina" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Příčina úmrtí</label>
            <input type="text" name="pricina" id="pricina" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Stáří..." required="">
        </div>

        <div class="col-span-2 sm:col-span-1">
            <label for="cas" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Datum a čas úmrtí</label>
            <input type="datetime-local" name="cas" id="cas" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="" required="">
        </div>

        <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Vytvořit</button>
    </form>

    {% endblock %}
{% endembed %}

{% embed 'admin/admin_modal.twig' with {"id": "add-image", "title":"Přidat obrázek"} %}
    {% block modal_body %}
    <form class="space-y-4" action="/nahratObrazekZvirete" method="POST" enctype="multipart/form-data">
        <input type="text" name="zvire_id" hidden value="{{ zvire.id }}">
        <div class="flex items-center justify-center w-full">
            <label for="image_files" class="flex flex-col items-center justify-center w-full min-h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                <div class="p-4 grid grid-cols-3 w-full justify-center gap-6" id="preview-container"></div>
                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                    <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                    </svg>
                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                    <p class="text-xs text-gray-500 dark:text-gray-400">JPG (MAX. 1MB)</p>
                </div>
                <input id="image_files" name="image_files[]" type="file" class="hidden" multiple />
            </label>
        </div> 

        <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Přidat</button>
    </form>

    <script>
        $(document).ready(function(){
        $("#image_files").on("change", function(){
            var files = $(this)[0].files;
            $("#preview-container").empty();
            if(files.length > 0){
                for(var i = 0; i < files.length; i++){
                    var reader = new FileReader();
                    reader.onload = function(e){
                        $("<div class='w-24 h-24 preview'><img class='rounded shadow' src='" + e.target.result + "'><button class='delete'>Delete</button></div>").appendTo("#preview-container");
                    };
                    reader.readAsDataURL(files[i]);
                }
            }
        });
        $("#preview-container").on("click", ".delete", function(event){
                event.preventDefault();
                $(this).parent(".preview").remove();
                $("#file-input").val(""); // Clear input value if needed
            });
        });
    </script>

    {% endblock %}
{% endembed %}

{% endblock %}