<div class="small-cart hidden md:block">
    <p class="small-cart-header">Košík</p>
    {% set sum = 0 %}
    {% for product in cart_products %}
    <div class="flex flex-row py-2 gap-4 items-center">
        <img class="small-cart-product-image" width="80" src="{{ product.image_url }}" alt="">
        <div>
            <p class="small-cart-product-name">{{product.cart_quantity}}x {{ product.name }}</p>
            {% if product.custom_text %}
            <p class="text-sm text-blue-600">Vlastí text: <b>{{product.custom_text}}</b></p>
            {% endif %}
        </div>
        <p class="small-cart-product-price">{{ (product.sell_price * product.cart_quantity)|number_format(0,"."," ") }} Kč</p>
    </div>
    
    <hr class="w-full h-px bg-slate-200 border-0">
    {% set sum = sum + product.sell_price * product.cart_quantity %}
    {% endfor %}
    <p class="hidden" id="small-cart-total-without-postage">{{ sum|number_format(0,"."," ") }} Kč</p>

    <div class="{{ carrier ? '' : 'hidden' }}">
        <div class="flex flex-row py-2 gap-4 items-center">
            <div>
                <p class="small-cart-product-name" id="small-cart-carrier-name">{{carrier.name}}</p>
            </div>
            <p class="small-cart-product-price" id="small-cart-carrier-price">{{ (carrier.price)|number_format(0,"."," ") }} Kč</p>
            {% set sum = sum + carrier.price %}
        </div>
        <hr class="w-full h-px bg-slate-200 border-0">
    </div>

    <div class="{{ carrier ? '' : 'hidden' }}">
        <div class="flex flex-row py-2 gap-4 items-center">
            <div>
                <p class="small-cart-product-name" id="small-cart-payment-name">{{payment.name}}</p>
            </div>
            <p class="small-cart-product-price" id="small-cart-payment-price">{{ (payment.price)|number_format(0,"."," ") }} Kč</p>
            {% set sum = sum + payment.price %}
        </div>
        <hr class="w-full h-px bg-slate-200 border-0">
    </div>
    <div class="flex flex-row justify-between pt-2">
        <p class="small-cart-total small-cart-product-name">Celkem:</p>
        <b class="small-cart-total small-cart-product-price" id="small-cart-total">{{ sum|number_format(0,"."," ") }} Kč</b>
    </div>
    
    <p id="small-cart-carrier-hint" class="small-cart-total px-2 pb-2 {{ carrier ? 'hidden' : '' }}">+ náklady na přepravu a platbu</p>
    
</div>